#fx {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
#fx-app {
  background: #fff;
  flex: 1 1 auto;
  overflow: auto;
}
#fx-menu {
  background: #f0f1f2;
  color: #32416e;
  display: flex;
  height: 60px;
  min-height: 60px;
  line-height: 60px;
  box-shadow: 0 0 0 1px #ddd, 0 0 1em 0 rgba(0, 0, 0, 0.1);
}
#fx-logo {
  fill: currentColor;
  width: 60px;
  height: 60px;
}
#fx-title {
  flex: 1 1 auto;
  padding: 0 1em;
  font-size: 18px;
  line-height: 60px;
  border: 1px solid #ddd;
  border-width: 0 1px;
}
#fx-version {
  float: right;
  opacity: 0.5;
  font-size: 14px;
}
#fx-menu-button {
  color: #32416e;
  transition: all 0.25s ease-in;
}
#fx-user-button {
  padding: 0 20px;
  transition: all 0.25s ease-in-out;
}

#fx-menu-button.active,
#fx-user-button.active,
#fx-menu-button:hover,
#fx-user-button:hover {
  background: #32416e;
  color: #fff;
  cursor: pointer;
}

#fx-user-options {
  margin-right: 10px;
}
#fx-user-button .name {
  margin-right: 1em;
}

@media screen and (max-width: 400px) {
  #fx-user-button .name {
    display: none;
  }
}
